.product-table tbody th {
    padding-right: 4rem;
    vertical-align: initial;
}

.product-table ul{
    padding-left: 1rem;
}

.product-image:active, .product-image:hover {
    border: 3px solid #87a287;
}