.product__table tbody th {
    padding-right: 4rem;
    vertical-align: initial;
}

.product__table ul{
    padding-left: 1rem;
}

.product__image:active, .product__image:hover {
    border: 3px solid #87a287;
}